NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/proshop_qa_portfolio
JWT_SECRET=replace-with-a-long-local-test-secret
PAGINATION_LIMIT=4
PAYPAL_CLIENT_ID=
PAYPAL_APP_SECRET=
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
